* {
  padding: 0;
  margin: 0;
  text-decoration: none; }

.stylogo {
  height: 40px; }

/*Colores*/
.primario {
  color: #F26052; }

.secundario {
  color: #161E35; }

.fondo {
  background-color: #161E35; }

.fondoAlt {
  background-color: #F2F2F2; }

.primarioAlt {
  color: #E3A3B3; }

/*Tipografias*/
/*Colores*/
.primario {
  color: #F26052; }

.secundario {
  color: #161E35; }

.fondo {
  background-color: #161E35; }

.fondoAlt {
  background-color: #F2F2F2; }

.primarioAlt {
  color: #E3A3B3; }

* {
  font-family: 'Poppins', sans-serif; }

.headType {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #F26052;
  text-align: center;
  padding: 20px 50px; }

.subType {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F26052;
  text-align: center; }

.bodyType {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #161E35;
  text-align: justify; }

.buttonType {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #F2F2F2;
  text-align: center;
  text-transform: uppercase; }

/*Animaciones*/
/*Colores*/
.primario {
  color: #F26052; }

.secundario {
  color: #161E35; }

.fondo {
  background-color: #161E35; }

.fondoAlt {
  background-color: #F2F2F2; }

.primarioAlt {
  color: #E3A3B3; }

.focus:hover {
  background-color: #161E35;
  background-image: linear-gradient(0deg, #E3A3B3 0%, #F26052 60%);
  transition: linear 500ms; }

/*Barra de navegacion*/
/*Colores*/
.primario {
  color: #F26052; }

.secundario {
  color: #161E35; }

.fondo {
  background-color: #161E35; }

.fondoAlt {
  background-color: #F2F2F2; }

.primarioAlt {
  color: #E3A3B3; }

.menu {
  height: 60px;
  width: 100%;
  background-color: #F26052;
  position: relative; }

.menu > .menuHeader {
  display: inline; }

.menu > .menuHeader > .menuLogo {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px; }

.menu > .botonMenu {
  display: none; }

.menu > .menuLinks {
  display: inline;
  float: right;
  font-size: 18px;
  margin-right: 24px; }

.menu > .menuLinks > a {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #fff; }

.menu > .menuLinks > a:hover {
  background-color: black; }

/*------------------------------*/
.navbar {
  background: #c9c3c2;
  position: relative; }

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none; }

.subnav {
  float: right;
  overflow: hidden; }

.subnavbtn {
  font-size: 18px;
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit; }

.subnav-content {
  display: none;
  position: absolute;
  background-color: #F26052;
  z-index: 1; }

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  display: flex;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff; }

.subnav-content a:hover {
  display: flex;
  flex-direction: column; }

.subnav:hover .subnav-content {
  display: flex;
  flex-direction: column; }

.menu > #checkMenu {
  display: none; }

/*------------------------------*/
@media (max-width: 600px) {
  .menu > .botonMenu {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .menu > .botonMenu > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px; }
  .menu > .botonMenu > label:hover, .menu #checkMenu:checked ~ .botonMenu > label {
    background-color: #0000; }
  .menu > .botonMenu > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee; }
  .menu > .menuLinks {
    position: absolute;
    display: block;
    width: 100%;
    background: #161E35;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px; }
  .menu > .menuLinks > a {
    display: block;
    width: 100%; }
  .menu > #checkMenu:not(:checked) ~ .menuLinks {
    height: 0px; }
  .menu > #checkMenu:checked ~ .menuLinks {
    height: calc(100vh - 50px);
    overflow-y: auto; } }

/*Pie de pagina*/
footer img {
  height: 15px; }

footer ul {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  align-items: center; }
  footer ul li {
    margin: 5px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #F2F2F2; }

@media screen and (min-width: 768px) {
  footer {
    height: 50px; }
    footer img {
      height: 15px; }
    footer ul {
      display: flex;
      flex-direction: row;
      justify-content: end;
      list-style: none;
      font-family: 'Poppins', sans-serif; }
      footer ul li {
        margin: 0px 20px;
        float: left; } }

/*Home*/
#content {
  background: #F2F2F2;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 5vh; }

.landtext {
  text-align: justify;
  align-self: center; }

/*Blog*/
/*Educacion*/
.eduFlex {
  display: flex;
  flex-direction: column;
  row-gap: 5vh; }
  .eduFlex div {
    color: #F2F2F2;
    text-align: center; }
  .eduFlex img {
    height: 300px; }

@media screen and (min-width: 768px) {
  .eduFlex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center; } }

@media screen and (min-width: 1024px) {
  .eduFlex {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px; } }

/*Eventos*/
/*Small*/
.livegrid {
  display: flex;
  flex-direction: column;
  row-gap: 5vh; }
  .livegrid img {
    height: 250px;
    border: solid 1px black;
    border-radius: 10px; }
  .livegrid div {
    text-align: center; }

/*Medium*/
@media screen and (min-width: 768px) {
  .livegrid {
    display: grid;
    grid-template-areas: "proxEvento proxEvento" "evento1 evento2" "evento3 evento4";
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto 350px 350px;
    grid-row-gap: 20px; }
    .livegrid img {
      border: solid 20px #F2F2F2; }
  .proxEvento {
    grid-area: proxEvento;
    height: 760px;
    width: 660px;
    background: #F2F2F2;
    border-radius: 10px; }
    .proxEvento div {
      color: #161E35; }
    .proxEvento img {
      height: 660px;
      border: solid 20px #F2F2F2; }
  .e1 {
    grid-area: evento1;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e1 div {
      color: #161E35; }
  .e2 {
    grid-area: evento2;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e2 div {
      color: #161E35; }
  .e3 {
    grid-area: evento3;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e3 div {
      color: #161E35; }
  .e4 {
    grid-area: evento4;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e4 div {
      color: #161E35; } }

/*Large*/
@media screen and (min-width: 1024px) {
  .livegrid {
    display: grid;
    grid-template-areas: "proxEvento evento1 evento2"  "proxEvento evento3 evento4";
    grid-template-columns: 660px 300px 300px;
    grid-template-rows: 350px 350px;
    grid-row-gap: 60px;
    justify-content: space-evenly; }
    .livegrid img {
      border: solid 20px #F2F2F2; }
    .livegrid div {
      text-align: center; }
  .proxEvento {
    grid-area: proxEvento;
    height: 760px;
    width: 660px;
    background: #F2F2F2;
    border-radius: 10px; }
    .proxEvento div {
      color: #161E35; }
    .proxEvento img {
      height: 660px; }
  .e1 {
    grid-area: evento1;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e1 div {
      color: #161E35; }
  .e2 {
    grid-area: evento2;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e2 div {
      color: #161E35; }
  .e3 {
    grid-area: evento3;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e3 div {
      color: #161E35; }
  .e4 {
    grid-area: evento4;
    height: 350px;
    width: 300px;
    background: #F2F2F2;
    border-radius: 10px; }
    .e4 div {
      color: #161E35; } }
