/*Barra de navegacion*/
@import "colores";

.navbar {
    background-color: $primario; 
    position: relative;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}


.subnav-content {
    display: none;
    position: absolute;
    background-color: $primario;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    display: block;
}

.subnav:hover .subnav-content {
display:block;
}
