/*Pie de pagina*/
footer{
    height: 50px;
        img{
            height: 15px;
            }
        ul{
            justify-content: center;
            list-style: none;
            font-family: 'Poppins', sans-serif;
            color: #561D72;
            li{
                display: block;
                margin: 10px 20px;
                font-size: 14px;
                font-weight: 400;
            }
        }
    
}

@media screen and (min-width: 768px){
    footer{
        height: 50px;
            img{
                height: 15px;
                }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: end;                
                list-style: none;
                font-family: 'Poppins', sans-serif;
                color: #561D72;
                li{
                    float: left;
                    margin: 10px 20px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        
    }

}