/*Pie de pagina*/
footer{
    img{
        height: 15px;
        }
    ul{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        list-style: none;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        li{
            margin: 5px 0px;
            font-size: 14px;
            font-weight: 400;
            color: $altGris;
        }
    }
}

@media screen and (min-width: 768px){
    footer{
    height: 50px;
        img{
            height: 15px;
            }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: end;                
            list-style: none;
            font-family: 'Poppins', sans-serif;
            li{
                margin: 0px 20px;
                float: left;
            }
        }
    }
}